<div class="toolbar">
    <img style="margin-top: 2rem; width: 8rem; height: 8rem;" src="../images/Revvity_Color_Wheel.png" alt="logo">
    <br>
    <br>
    <h4>Select a Workflow to Get Started</h4>
    <div>
    <!-- Render the Toolbar list items -->
    <% const toolbar = ['Select a Workflow', 'Upload Files', 'Select Goalposts', 'Edit Timeline', 'Run Timeline'];
        for (let i=0; i < toolbar.length; i++) { 
        <!-- Check if the current index is before or after the specified index -->
        if (i < toolbar_index) { %>
            <!-- Print true image if before the specified index -->
            <div style="display: flex; align-items: center;">
            <img style="width: 2rem; height: 2rem;" src="../images/Checked_Circle.png" alt="Checked Circle">
        <% } else { %>
            <!-- Print false image if after or at the specified index -->
            <div style="display: flex; align-items: center;">
            <img style="width: 2rem; height: 2rem;" src="../images/Unchecked_Circle.png" alt="Unchecked Circle">
        <% } %>

        <!-- Print the text next to the image -->
        <p style="color: black; margin-left: 10px;"><%= toolbar[i] %></p>
        </div>

        <!-- Line break after each iteration -->
        <br>
    <% } %>
    </div>
</div>