<!DOCTYPE html>
<html>

<head>
    <title>Tripathi Bioinformatics</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Recommended Pipeline</h1>
    <h2>Select a goalpost for the end of your timeline</h2>

    <form id="menuForm" action="/dna-pipeline" method="post">
        <% for (let i=0; i < categories.length; i++) { %>
            <h3>
                <%=categories[i][0] %>
            </h3>

            <div>
                <% for (let j=0; j < categories[i][1].length; j++) { %>
                    <label>
                        <input type="checkbox" name="<%= categories[i][1][j]%>" <% if (categories[i][2][j]) { %>checked<% } %>>
                            <%= categories[i][1][j] %>
                    </label>
                    <% } %>
            </div>
            <% } %>

            
            <button type="submit">Generate Timeline</button>
    </form>



</body>

</html>