<!DOCTYPE html>
<html>

<head>
    <title>Tripathi Bioinformatics</title>
    <link rel="stylesheet" href="https://use.typekit.net/azy2ine.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/file-info.css' />
</head>

<body>
    <!-- Toolbar -->
    <%- include('partials/toolbar') %>

    <div class="centered">
        <h1>Upload Files</h1>
        
        <br>

        <!-- Input Type Buttons -->
        <h3>Select an Input Type</h3>
        <div>
            <button onclick="select_input_type('DNA')" class="input_type_buttons">
                <h3 style="color: black;">DNA</h3>
            </button>
            <button onclick="select_input_type('RNA')" class="input_type_buttons">
                <h3 style="color: black;">RNA</h3>
            </button>
        </div>

        <br>

        <!-- Upload Main Files -->
        <section id="file_uploader_section" hidden>
            <h3>Upload File(s)</h3>
            <br>
            <form id="mainFileForm" enctype="multipart/form-data">
                <select id="directoryOption" onchange="changeInputType()">
                    <option value="BCL">BCL</option>
                    <option value="other">Other</option>
                  </select>
                <input type="file" name="file" id="Main_File_Uploader" webkitdirectory multiple disabled>
                <button class="confirm_button" type="button" onclick="processMainFile()">Confirm</button>
            </form>
            <br>
        </section>

        <!-- Upload Adapter Files -->
        <h3 id="adapterCheckHeading"></h3>
        <section id="adapter_section" hidden>
            <br>
            <form id="adapterFileForm" action="/store-files" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="Adapter_File_Uploader" multiple disabled>
                <button class="confirm_button" id="adapterUploadButton" onclick="submitAdapterFile()">Confirm</button>
            </form>
            <br>
        </section>

        <!-- Upload RNA Genome Files (Optional) -->
        <section id="rna_section" hidden>
            <h3>Reference Genome/Transcriptome</h3>
            <br>
            <form id="genomeFileForm" enctype="multipart/form-data">
                <input type="file" name="file" id="RNA_Genome_Uploader" multiple disabled>
                <button class="confirm_button" type="button" onclick="processGenomeFile()">Confirm</button>
            </form>
            <p id="genomeTypeInfo"></p>
            <br>
        </section>

        <!-- Continue Form -->
        <form id="continueForm" action="/dna-goalposts" method="post">
            <!-- Hidden input fields for variables -->
            <input type="hidden" name="infoSteps" id="infoStepsInput">
            <input type="hidden" name="uploadedFile" id="uploadedFileInput">
            <input type="hidden" name="uploadedFileType" id="uploadedFileTypeInput">
            <input type="hidden" name="inputType" id="inputTypeInput">
            <input type="hidden" name="fastQConversion" id="fastQConversionInput">
            <input type="hidden" name="fastQCResults" id="fastQCResultsInput">
            <input type="hidden" name="trimmed" id="trimmedInput">
            <input type="hidden" name="demultiplexed" id="demultiplexedInput">
            <input type="hidden" name="uploadedAdapterFile" id="uploadedAdapterFileInput">
        
            <!-- Continue button -->
            <button type="button" class="continue_button" id="file_info_continue_button" disabled onclick="submitContinueForm()">
                <h3>Continue</h3>
            </button>
        </form>
    </div>


    <!-- Logic -->
    <script src="/scripts/file-info.js"></script>

</body>

</html>