<!DOCTYPE html>
<html>

<head>
    <title>Tripathi Bioinformatics</title>
    <link rel="stylesheet" href="https://use.typekit.net/azy2ine.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/file-info.css' />
</head>

<body>
    <!-- Toolbar -->
    <%- include('partials/toolbar') %>

    <div class="centered">
        <h1>Upload Files</h1>
        
        <br>

        <!-- Input Type Buttons -->
        <h3>Select an Input Type</h3>
        <div>
            <button onclick="select_input_type('DNA')" class="input_type_buttons">
                <h3 style="color: black;">DNA</h3>
            </button>
            <button onclick="select_input_type('RNA')" class="input_type_buttons">
                <h3 style="color: black;">RNA</h3>
            </button>
        </div>

        <br>

        <!-- Upload Main Files -->
        <section id="file_uploader_section" hidden>
            <h3>Upload File(s)</h3>
            <br>
            <form id="mainFileForm" enctype="multipart/form-data">
                <label for="directory">Input Type</label>
                <select id="directoryOption" name="directory" onchange="changeInputType()">
                    <option value="SAM">SAM</option>
                    <option value="BAM">BAM</option>
                    <option value="BCL">BCL</option>
                    <option value="FastA">FastA</option>
                    <option value="Fast5">Fast5</option>
                    <option value="FastQ">Single FastQ</option>
                    <option value="Paired">Paired End FastQ</option>
                  </select>
                <br>
                <label id="file1label" for="file"></label>
                <input type="file" name="file" id="Main_File_Uploader" webkitdirectory disabled>
                <label id="file2label" for="file2"></label>
                <input type="file" name="file2" id="Main_File_Uploader-Second" disabled>
                <button class="confirm_button" type="button" onclick="processMainFile()">Confirm</button>
            </form>
            <br>
        </section>

        <!-- Upload Adapter Files -->
        <h3 id="adapterCheckHeading"></h3>
        <section id="adapter_section" hidden>
            <br>
            <form id="adapterFileForm">
                <input type="file" name="file" id="Adapter_File_Uploader" disabled>
                <button class="confirm_button" type="button" id="adapterUploadButton" onclick="uploadAdapterFiles()">Confirm</button>
            </form>
            <br>
        </section>

        <!-- Upload RNA Genome Files (Optional) -->
        <section id="rna_section" hidden>
            <h3>Reference Genome/Transcriptome</h3>
            <br>
            <form id="genomeFileForm" enctype="multipart/form-data">
                <input type="file" name="file" id="RNA_Genome_Uploader" multiple disabled>
                <button class="confirm_button" type="button" onclick="processGenomeFile()">Confirm</button>
            </form>
            <p id="genomeTypeInfo"></p>
            <br>
        </section>

        <!-- Continue Form -->
        <form id="continueForm" action="/dna-goalposts" method="post">
            <!-- Hidden input fields for variables -->
            <input type="hidden" name="infoSteps" id="infoStepsInput">
            <input type="hidden" name="uploadedFilePath" id="uploadedFileInput">
            <input type="hidden" name="uploadedAdapterPath" id="uploadedAdapterPath">
            <input type="hidden" name="inputType" id="inputTypeInput">
        
            <!-- Continue button -->
            <button type="button" class="continue_button" id="file_info_continue_button" disabled onclick="submitContinueForm()">
                <h3>Continue</h3>
            </button>
        </form>
    </div>


    <!-- Logic -->
    <script src="/scripts/file-info.js"></script>

</body>

</html>