<!DOCTYPE html>
<html>

<head>
    <title>Tripathi Bioinformatics</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .file_info_option_button {
            width: 25rem;
            height: 10rem;
            border-radius: 1rem;
            background-color:khaki;
            margin-right: 2rem;
            cursor: pointer;
        }
        .file_info_option_button:hover {
            background-color: darkkhaki;
        }

        .file_info_option_info {
            width: 30rem;
            font-size: 16px;
        }

        .file_info_form {
            display: flex;
            align-items: center;
            margin-top: 2rem;
        }
    </style>
</head>

<body style="display: flex; flex-direction: column; align-items: center;">
    <h1>Bioinformatics Landing Page</h1>
    <p style="font-size: 20px;">Welcome! Please Select a Workflow:</p>

    <div style="display: flex; flex-direction: column; justify-content: center; align-items:center;">
        <form action="/file-information" method="post" class="file_info_form">
            <input type="hidden" name="mode" value="custom">
            <button type="submit" class="file_info_option_button">
                <div>
                    <h2>Create My Own Pipeline</h2>
                </div>
            </button>
            <p class="file_info_option_info">I have a moderate to advanced level of experience and I would like to customize my conversion
                pipeline.</p>
        </form>

        <form action="/file-information" method="post" class="file_info_form">
            <input type="hidden" name="mode" value="recommended">
            <button type="submit" class="file_info_option_button">
                <div>
                    <h2>Use Recommended Pipeline</h2>
                </div>
            </button>
            <p class="file_info_option_info">I would like a pipeline to be generated for me based on my file format and preferences.</p>
        </form>
    </div>

</body>

</html>