<!DOCTYPE html>
<html>

<head>
    <title>Tripathi Bioinformatics</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.typekit.net/azy2ine.css">
    <style>
        
        .home_content {
            padding: 4% 8%;
            max-width: 75%;
            text-align: left;
        }

        .file_info_option_button {
            width: 25rem;
            height: 10rem;
            border: none;
            border-radius: 10px;
            background-color: #EBE6BA;
            cursor: pointer;

            font-family: "asap", sans-serif;
            font-weight: 300;
            font-style: normal;
        }

        .file_info_option_button:hover {
            transition: 0.3s;
            background-color: goldenrod;
        }

        .file_info_option_info {
            width: 24rem;
            text-align: center;
            margin-top: 2rem;
        }

        .file_info_form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>

</head>

<body>
    <!-- Toolbar -->
    <%- include('partials/toolbar') %>

    <div class="home_content">

        <h1>Welcome</h1>
        <h2>to the Tripathi Labs Bioinformatics Processing Tool</h2>
        <p>This program is designed to take your bio-informatics files from raw data to polished graphs, but you can
            also start and end your processing journey anywhere in between. For more information on the steps involved
            in our data processing pipeline, click here.</p>
            
        <br>
        
        <h3>Let's Get Started!</h3>
        <p>Select a workflow based on your desired level of customization.</p>
        
        <br>
        
        <form style="display: flex; flex-direction: row; justify-content: space-between; align-items:center;" action="/file-information" method="post" class="file_info_form">
            <div>
                <button type="submit" class="file_info_option_button" name="mode" value="recommended">
                    <h3 style="color: black;">Assisted Pipeline</h3>
                </button>
                <p class="file_info_option_info">I would like a pipeline to be <b>generated for me</b> based on my file
                    format and preferences.</p>
            </div>
            <div>
                <button type="submit" class="file_info_option_button" name="mode" value="custom">
                    <h3 style="color: black;">Custom Pipeline</h3>
                </button>
                <p class="file_info_option_info">I have a <b>moderate to advanced</b> level of experience and I would like
                    to customize my conversion pipeline.</p>
            </div>
        </form>
    </div>

</body>

</html>