<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/" method="post">
      <input type="text" name="username" />
      <input type="password" name="password" />
      <button type="submit">Submit</button>
    </form>

    <button id="runButton">Run Child Process</button>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <button type="submit">Upload</button>
    </form>

  <script>
    const runButton = document.getElementById('runButton');

    runButton.addEventListener('click', async () => {
      const response = await fetch('/run-picard-tools', {
        method: 'POST',
      });

      const result = await response.text();
      console.log(result);
      // You can update the UI or perform other actions based on the result
    });
  </script>
  </body>
</html>
