<!DOCTYPE html>
<html>

<head>
    <title>Tripathi Bioinformatics</title>
    <link rel="stylesheet" href="https://use.typekit.net/azy2ine.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Output</h1>

    <!-- Get passed an array of output images and titles -->
    <!-- For each array element, display the title and the image -->

    <!-- button to open download menu -->
    <!-- foreach downloadable item, make a checkbox and title -->
    <!-- when checkbox changes, toggle bool array of download or not (or just add it to a list) -->
    <!-- When download button pressed, run download on each item -->
    
</body>

</html>