<!DOCTYPE html>
<html>

<head>
    <title>Tripathi Bioinformatics</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Please wait, running Quality Control... </h1>
   
    <!-- spinning wheel -->

    <script>
        // pressing continue on the last page will send a post request, which should have launched a process in the background
        // wait on that process to finish.
        // when it ends check the necessary information, then go to the next view and pass along the necessary variables
    </script>


</body>

</html>