<!DOCTYPE html>
<html>

<head>
    <title>Tripathi Bioinformatics</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Test 2</h1>

    <p>Received Boolean Array:</p>
    <ul>
        <% receivedBooleanArray.forEach((value, index) => { %>
            <li>Element <%= index + 1 %>: <%= value %></li>
        <% }); %>
    </ul>

</body>

</html>