<!DOCTYPE html>
<html>

<head>
    <title>Tripathi Bioinformatics</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>TEST UPLOADER</h1>
    <!-- Form for file upload -->
    <form id="fileForm" action="/upload-test" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput" onchange="handleFileChange()">
        <p id="uploadedFileName"></p> <!-- Element to display uploaded file name -->
    </form>

    <script>
        function handleFileChange() {
            const fileInput = document.getElementById('fileInput');
            const fileInfoContainer = document.getElementById('uploadedFileName');

            // Check if a file is selected
            if (fileInput.files.length > 0) {
                // Get the file name
                const uploadedFile = fileInput.files[0];

                // Create an HTML string with file information
                const fileInfoHTML = `
                    <p>Field Name: ${uploadedFile.name}</p>
                    <p>Original Name: ${uploadedFile.name}</p>
                    <p>Encoding: ${uploadedFile.encoding}</p>
                    <p>MIME Type: ${uploadedFile.type}</p>
                    <p>File Size: ${uploadedFile.size} bytes</p>
                `;

                // Set the HTML content of the fileInfoContainer
                fileInfoContainer.innerHTML = fileInfoHTML;
            } else {
                fileInfoContainer.innerHTML = ''; // Clear file information if no file is selected
            }
        }
    </script>

</body>

</html>