.container {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    width: 300px;
}

.options-container {
    margin-top: 10px;
}

.options-container label {
    display: block;
    margin-bottom: 5px;
}

.edit-btn, .save-btn {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: #7F03B0;
    margin-top: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.timeline_content {
    padding: 4% 8%;
    max-width: 75%;
    text-align: left;
}

.collapsible {
    background-color: white;
}

.content {
    background-color: white;
}

.category_labels {
    margin-left: 2rem;
}

.goals_continue_button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFEB0F;
    cursor: pointer;
    margin-top: 2rem;
}

.options-container, .options-display {
    border: 4px solid #7F03B0;
    border-radius: 10px;
    padding: 1rem;
    margin-left: 2rem;
    max-width: 15rem;
}

.option_input {
    margin-left: 1rem;
}

.pipeline_continue_button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFEB0F;
    cursor: pointer;
    margin-top: 2rem;
}