.input_type_buttons {
    width: 10rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    background-color: #FFEB0F;
    cursor: pointer;
}

.input_type_buttons:hover {
    transition: 0.3s;
    background-color: goldenrod;
}

.centered {
    padding: 4% 8%;
    max-width: 75%;
}

.confirm_button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #7F03B0;
    color: white;
    cursor: pointer;
}

.continue_button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFEB0F;
    cursor: pointer;
}

.continue_button:disabled {
    background-color:rgb(185, 183, 166);
    cursor: not-allowed;
}

h3{
    color: black;
}