body {
  font-family: "asap", sans-serif;
  font-weight: 400;
  display: flex;
}

h1 {
  font-size: 34px;
  font-weight: 600;
  color:#b985d9;
}

h2 {
  font-size: 28px;
  font-weight: 400;
  margin: 10px 0rem;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0rem;
  color:#b985d9;
}

h4 {
  font-size: 18px;
  margin: 1rem 0rem;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  color: #A9A9A9;
}

b {
  color:#b985d9;
}

a {
  color: #00B7FF;
}

* {
  margin: 0;
  padding: 0;
}

.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  min-height: 100vh;
  flex: 1;
  min-width: 25%;
  max-width: 25%;
  background-color: #FFBE0F;
}